[staticMenu header]
code = "header"

[staticMenu sabahQuruplariFooter]
code = "sabah-qruplari"

[staticMenu telebelerUcunFooter]
code = "telebeler-ucun-footer"

[formSubscribe]
urlToUnsubscribe = "unsubscribe"
urlToProfile = "subscriber-profile"
geo = "enabled"
thanksMessage = "Thanks for subscribe!"
errorMessage = "Email already exists!"
==
<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    {% partial "head" %}
</head>
<body>


<header class="header-sh">
    <div class="back" style="background-image:url('{{ 'assets/img/content-img/header-rectangle.png'|theme }}')">
    </div>
    <div class="container">
        <div class="header">
            <div class="row">

                <div class="col-md-2 col-sm-2 col-xs-6">
                    <div class="logo">
                        <a href="{{ '/'|app }}">
                            <img src="{{ 'assets/img/file-img/S-Loqo.svg'|theme }}" alt="" class="img-responsive">
                        </a>
                    </div>
                </div>
                <div class="col-xs-6  visible-xs">
                    <div class="mobile-menu-i ">
                        <div class="icon text-right">
                            <i class="fa fa-bars" aria-hidden="true"></i>
                        </div>
                    </div>

                </div>
                <div class="col-md-10 hidden-xs col-sm-10">
                    <div class="main-menu">
                        <ul class="main-ul">

                            {% if header.menuItems %}
                                {% partial "nav" items=header.menuItems %}
                            {% endif %}

                        </ul>
                        <div class="search">
                            <form action="{{ 'xeber-axtar'|page }}" method="post">
                                <input required type="search" placeholder="Axtardiginizi buraya yazin" name="search" class="searc-inp"
                                       autocomplete="off">
                                <i class="arama fa fa-search"></i>
                            </form>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

</header>

<!-- Mobile menu -->

{% partial 'mobile-menu' %}

<!-- Content -->

{% page %}


<!-- Subscribe -->

{% partial 'subscribe' %}

<!-- Footer -->

{% partial 'footer' %}


<!-- Scripts -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
<script src="{{ 'assets/js/plugins/bootstrap.min.js'|theme }}"></script>
<script src="{{ 'assets/js/plugins/owlcarousel/owl.carousel.min.js'|theme }}"></script>
<script src="{{ 'assets/js/plugins/lightgallery.min.js'|theme }}"></script>
<script src="{{ 'assets/js/plugins/lg-thumbnail.min.js'|theme }}"></script>
<script src="{{ 'assets/js/plugins/lg-fullscreen.min.js'|theme }}"></script>
<script src="{{ 'assets/js/plugins/bootstrap-datetimepicker.min.js'|theme }}"></script>
<script src="{{ 'assets/js/plugins/jquery.pinBox.min.js'|theme }}"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2"></script>
<script>
    $(function () {
        $('.arama').on("click", function () {
            $("header .main-menu .search input").css("width", "200px");
        });
    });

</script>
{% framework extras %}
{% scripts %}

</body>
</html>