[staticMenu header]
code = "header"

[staticMenu sabahQuruplariFooter]
code = "sabah-qruplari"

[staticMenu telebelerUcunFooter]
code = "telebeler-ucun-footer"

[formSubscribe]
urlToUnsubscribe = "unsubscribe"
urlToProfile = "subscriber-profile"
geo = "enabled"
thanksMessage = "Thanks for subscribe!"
errorMessage = "Email already exists!"

[staticMenu muellimlerUcunFooter]
code = "muellimler-ucun-footer"

[staticMenu elaqeFooter]
code = "elaqe-footer"

[SeoCmsPage]
==
<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    {% partial "head" %}
</head>
<body>

{% partial "header" %}


<!-- Mobile menu -->

{% partial 'mobile-menu' %}

<!-- Content -->

{% page %}


<!-- Subscribe -->

{% partial 'subscribe' %}

<!-- Footer -->

{% partial 'footer' %}


<!-- Scripts -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
<script src="{{ 'assets/js/plugins/bootstrap.min.js'|theme }}"></script>
<script src="{{ 'assets/js/plugins/owlcarousel/owl.carousel.min.js'|theme }}"></script>
<script src="{{ 'assets/js/plugins/lightgallery.min.js'|theme }}"></script>
<script src="{{ 'assets/js/plugins/lg-thumbnail.min.js'|theme }}"></script>
<script src="{{ 'assets/js/plugins/lg-fullscreen.min.js'|theme }}"></script>
<script src="{{ 'assets/js/plugins/bootstrap-datetimepicker.min.js'|theme }}"></script>
<script src="{{ 'assets/js/plugins/jquery.pinBox.min.js'|theme }}"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.10.0/js/lightbox.js"></script>
<script src="{{ 'assets/js/script.js'|theme }}"></script>

<script>
    $(function () {
        $('.arama').on("click", function () {
            $("header .main-menu .search input").css("width", "200px");
        });
    });

</script>
{% framework extras %}
{% scripts %}

</body>
</html>
