[staticPage]
useContent = 1
default = 0

[staticMenu header]
code = "header"

[staticMenu sabahQuruplariFooter]
code = "sabah-qruplari"

[staticMenu telebelerUcunFooter]
code = "telebeler-ucun-footer"

[staticMenu sabahQurup]
code = "sabah-qruplari"

[builderList]
modelClass = "Sabah\Group\Models\Gallery"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "name"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
recordsPerPage = 10
pageNumber = "{{ :page }}"
==
<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head> {% partial "head" %}</head>
<body>
<div class="modal-overlay"></div>
<!-- Header -->

<header class="header-sh">
    <div class="back" style="background-image:url('{{ 'assets/img/content-img/header-rectangle.png'|theme }}')">
    </div>
    <div class="container">
        <div class="header">
            <div class="row">

                <div class="col-md-2 col-sm-2 col-xs-6">
                    <div class="logo">
                        <a href="{{ '/'|app }}">
                            <img src="{{ 'assets/img/file-img/S-Loqo.svg'|theme }}" alt="" class="img-responsive">
                        </a>
                    </div>
                </div>
                <div class="col-xs-6  visible-xs">
                    <div class="mobile-menu-i ">
                        <div class="icon text-right">
                            <i class="fa fa-bars" aria-hidden="true"></i>
                        </div>
                    </div>

                </div>
                <div class="col-md-10 hidden-xs col-sm-10">
                    <div class="main-menu">
                        <ul class="main-ul">

                            {% if header.menuItems %}
                                {% partial "nav" items=header.menuItems %}
                            {% endif %}

                        </ul>
                        <div class="search">
                            <form action="{{ 'xeber-axtar'|page }}" method="post">
                                <input required type="search" placeholder="Axtardiginizi buraya yazin" name="search" class="searc-inp"
                                       autocomplete="off">
                                <i class="arama fa fa-search"></i>
                            </form>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

</header>

<!-- Mobile menu -->

{% partial 'mobile-menu' %}

<!-- Content -->

<div id="header-panel">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel-title">
                    <h1>FOTO QALEREYA</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="head-title">

                    <div class="content-main">{% page %}</div>

                </div>
            </div>
        </div>
    </div>
</section>
<section id="gallery">
    <div id="pinBoxContainer" class="container">
        <div class="row">
            <div class="col-md-8 col-sm-12 col-lg-8">
                <div class="gall-grid">
                    <div  class=" partialGallery" id="aniimated-thumbnials">

                            {% partial "gallery" partialsRecords=records %}



                    </div>
                </div>

                <div class="row pa">
                    {% partial "pagination" partialsRecords=records %}
                </div>

            </div>

            <div class=" col-sm-12 col-md-4 col-lg-4 col-xs-12">
                <div id="sidebar" class="sidebar pinBox">
                    <div class="sidebar-title">
                        <h1 class="title-bold">SABAH Qrupları</h1>
                        <div class="border"></div>
                    </div>
                    <div class="sidebar-list-item b-0">
                        <ul>
                            {% if sabahQurup.menuItems %}
                                {% partial "sabahQurup" items=sabahQurup.menuItems %}

                            {% endif %}
                        </ul>
                    </div>


                </div>
            </div>

        </div>
    </div>
</section>

{% put scripts %}
    <script type="text/javascript">

        $(function () {

            $(document).on('click', '.ajaxPagination', function (e) {
                e.preventDefault();
                var array = $(this).attr('href').split('/');
                var page = array[array.length - 1];

                swal({
                    title: 'Yüklənir...',
                    html:
                    '<i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>' +
                    ' <span class="sr-only">Loading...</span>',
                    showCloseButton: false,
                    showCancelButton: false,
                    showConfirmButton: false,
                    allowOutsideClick: false
                });

                $.request('onPaginate', {

                    update: {gallery: '.partialGallery', pagination: '.pa'},
                    data: {perPage: page},
                    complete: function() {
                        swal.close();
                    }



                });
            });


        })

    </script>
{% endput %}




<!-- Subscribe -->

{% partial 'subscribe' %}

<!-- Footer -->

{% partial 'footer' %}


<!-- Scripts -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
<script src="{{ 'assets/js/plugins/bootstrap.min.js'|theme }}"></script>
<script src="{{ 'assets/js/plugins/owlcarousel/owl.carousel.min.js'|theme }}"></script>
<script src="{{ 'assets/js/plugins/lightgallery.min.js'|theme }}"></script>
<script src="{{ 'assets/js/plugins/lg-thumbnail.min.js'|theme }}"></script>
<script src="{{ 'assets/js/plugins/lg-fullscreen.min.js'|theme }}"></script>
<script src="{{ 'assets/js/plugins/bootstrap-datetimepicker.min.js'|theme }}"></script>
<script src="{{ 'assets/js/plugins/jquery.pinBox.min.js'|theme }}"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2"></script>
<script>
    $(function () {
        $('.arama').on("click", function () {
            $("header .main-menu .search input").css("width", "200px");
        });
    });

</script>
{% framework extras %}
{% scripts %}

</body>
</html>
