[staticPage]
useContent = 1
default = 0

[staticMenu header]
code = "header"

[staticMenu sabahQuruplariFooter]
code = "sabah-qruplari"

[staticMenu telebelerUcunFooter]
code = "telebeler-ucun-footer"


[staticMenu telebeQebulu]
code = "telebe-qebulu"
==
<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head> {% partial "head" %}</head>
<body>
<div class="modal-overlay"></div>
<!-- Header -->

<header class="header-sh">
    <div class="back" style="background-image:url('{{ 'assets/img/content-img/header-rectangle.png'|theme }}')">
    </div>
    <div class="container">
        <div class="header">
            <div class="row">

                <div class="col-md-2 col-sm-2 col-xs-6">
                    <div class="logo">
                        <a href="{{ '/'|app }}">
                            <img src="{{ 'assets/img/file-img/S-Loqo.svg'|theme }}" alt="" class="img-responsive">
                        </a>
                    </div>
                </div>
                <div class="col-xs-6  visible-xs">
                    <div class="mobile-menu-i ">
                        <div class="icon text-right">
                            <i class="fa fa-bars" aria-hidden="true"></i>
                        </div>
                    </div>

                </div>
                <div class="col-md-10 hidden-xs col-sm-10">
                    <div class="main-menu">
                        <ul class="main-ul">

                            {% if header.menuItems %}
                                {% partial "nav" items=header.menuItems %}
                            {% endif %}

                        </ul>
                        <div class="search">
                            <form action="{{ 'xeber-axtar'|page }}" method="post">
                                <input required type="search" placeholder="Axtardiginizi buraya yazin" name="search"
                                       class="searc-inp"
                                       autocomplete="off">
                                <i class="arama fa fa-search"></i>
                            </form>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

</header>

<!-- Mobile menu -->

{% partial 'mobile-menu' %}

<!-- Content -->

<div id="teacher-news-faq" class="main-content">
    <!-- BANNER-->
    <div id="banner-area">
        <div class="container-fluid">
            <div class="row">
                <div style="background-image:linear-gradient(0deg,rgba(0, 131, 192,0.7),rgba(0, 131, 192,0.7)),
                    url('{{ 'assets/img/content-img/layer-12.png'|theme }}')" class="background-green">
                    <div class="banner-title text-center">
                        <div class="s-star"></div>
                        <h1>Qəbul qaydaları</h1>
                        <p class="breadcumb">Tələbə Qəbulu</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- BANNER-->

    <div id="teacher-news-faq-collapse">
        <div id="pinBoxContainer" class="container">
            <div class="row">
                <div class=" col-sm-12 col-md-8 col-lg-8">
                    <div class="university-table">

                        <div class="inner-list">
                            <div class="content-list">

                                <span class="roman">1.</span>
                                <h1 class="title-bold"> Ümumi müddəalar</h1>
                            </div>

                            <div class="content-list-description">
                                <div class="content-main"> {% placeholder UmumiMuddealar title="UmumiMuddealar" %}


                                </div>
                            </div>
                            <div class="inner-list">
                                <div class="content-list">

                                    <span class="roman">2.</span>
                                    <h1 class="title-bold">Müsabiqənin təşkili</h1>
                                </div>

                                <div class="content-list-description">
                                    <div
                                        class="content-main"> {% placeholder MusabiqeninTeskili title="MusabiqeninTeskili" %}
                                    </div>

                                </div>
                            </div>
                            <div class="inner-list">
                                <div class="content-list">

                                    <span class="roman">3.</span>
                                    <h1 class="title-bold"> Müsabiqədə iştirak edənlərə dair tələblər</h1>
                                </div>

                                <div class="content-list-description">
                                    <div
                                        class="content-main"> {% placeholder MusabiqedeIstirakEdenlereDairTelebler title="MusabiqedeIstirakEdenlereDairTelebler" %}
                                    </div>

                                </div>
                            </div>

                            <div class="inner-list">
                                <div class="content-list">

                                    <span class="roman">4.</span>
                                    <h1 class="title-bold">Müsabiqənin I mərhələsi</h1>
                                </div>

                                <div class="content-list-description">
                                    <div
                                        class="content-main"> {% placeholder Musabiqenin1Merhelesi title="Musabiqenin1Merhelesi" %}
                                    </div>

                                </div>
                            </div>


                            <div class="inner-list">
                                <div class="content-list">

                                    <span class="roman">5.</span>
                                    <h1 class="title-bold">Müsabiqənin II mərhələsi</h1>
                                </div>

                                <div class="content-list-description">
                                    <div
                                        class="content-main"> {% placeholder Musabiqenin2Merhelesi title="Musabiqenin2Merhelesi" %}
                                    </div>

                                </div>
                            </div>


                        </div>

                    </div>

                </div>
                <div class=" col-sm-12 col-md-4 col-lg-4">
                    <div id="sidebar" class="sidebar pinBox">
                        <div class="sidebar-title">
                            <h1 class="title-bold">Tələbə qəbulu</h1>
                            <div class="border"></div>
                        </div>
                        <div class="sidebar-list-item">
                            <ul>
                                {% if telebeQebulu.menuItems %}
                                    {% partial "sabahTelebeleriNav" items=telebeQebulu.menuItems %}
                                {% endif %}

                            </ul>
                        </div>

                        <div class="request-button">
                            <button type="submit" class="">MÜRACİƏT ET</button>
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Subscribe -->

    {% partial 'subscribe' %}

    <!-- Footer -->

    {% partial 'footer' %}


    <!-- Scripts -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
    <script src="{{ 'assets/js/plugins/bootstrap.min.js'|theme }}"></script>
    <script src="{{ 'assets/js/plugins/owlcarousel/owl.carousel.min.js'|theme }}"></script>
    <script src="{{ 'assets/js/plugins/lightgallery.min.js'|theme }}"></script>
    <script src="{{ 'assets/js/plugins/lg-thumbnail.min.js'|theme }}"></script>
    <script src="{{ 'assets/js/plugins/lg-fullscreen.min.js'|theme }}"></script>
    <script src="{{ 'assets/js/plugins/bootstrap-datetimepicker.min.js'|theme }}"></script>
    <script src="{{ 'assets/js/plugins/jquery.pinBox.min.js'|theme }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2"></script>
    <script>
        $(function () {
            $('.arama').on("click", function () {
                $("header .main-menu .search input").css("width", "200px");
            });
        });

    </script>
    {% framework extras %}
    {% scripts %}

</body>
</html>
