title = "Elan"
url = "/elan/:slug"
layout = "default"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"

[builderDetails]
modelClass = "Sabah\Ad\Models\Ad"
identifierValue = "{{ :slug }}"
modelKeyColumn = "slug"
displayColumn = "slug"
notFoundMessage = "Record not found"

[otherAds]

[shares]
facebook = 1
twitter = 1
googleplus = 1
tumblr = 0
==
<div id="teacher-news-faq" class="main-content">
    <!-- BANNER-->
    <div id="header-panel">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel-title">
                        <h1>{{ 'ELANLAR' |_ }}</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- BANNER-->

    <div id="teacher-news-faq-collapse">
        <div id="pinBoxContainer" class="container">
            <div class="row">
                <div class=" col-sm-12 col-md-8 col-lg-8">

                    <div class="news-detal">
                        <div class="news-detal-title">
                            <h1>{{ record.title }}</h1>

                            <span class="news-datetime ">
                                    {{ record.created_at.format('d F Y') }}
                                </span>
                            {% if record.organized %}
                                <p class="future-news">{{ 'Keçirilmə tarixi:' |_ }}
                                    <span>{{ record.organized|date('d F Y') }}</span>
                                </p>
                            {% endif %}

                        </div>


                        <div class="news-contents">
                            <div class="content-main">{{ record.content|raw }}</div>

                        </div>


                    </div>

                    <div class="social-link-area">

                        {% partial "sosialShare" %}


                    </div>

                </div>

                <div class=" col-sm-12 col-md-4 col-lg-4">
                    <div id="sidebar">
                        <div class="sidebar-title">
                            <h1 class="title-bold">{{ 'Digər elanlar' |_ }}</h1>
                            <div class="border"></div>
                        </div>
                        <div class="news-list-item">
                            <ul>
                                {% for record in otherAds %}
                                    <li>
                                        <a href="/elan/{{ record.slug }}">{{ record.title }}
                                        </a>
                                    </li>
                                {% endfor %}


                            </ul>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
