title = "Mütəmadi verəlen suallar"
url = "/faq"
layout = "default"
is_hidden = 0

[builderList]
modelClass = "Sabah\Group\Models\Faq"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "question"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"

[staticMenu sabahQurup]
code = "sabah-qruplari"

[Faq]
==
<div id="teacher-news-faq" class="main-content">
    <!-- HEADER PANEL-->
    <div id="header-panel">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel-title">
                        <h1>MÜTƏMADİ VERİLƏN SUALLAR</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- HEADER PANEL-->

    <div id="teacher-news-faq-collapse">
        <div id="pinBoxContainer" class="container">
            <div class="row">
                <div class=" col-sm-12 col-md-8 col-lg-8">
                    <div class="teacher-news-collapse">
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                            {% for faq in records %}
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="heading{{ loop.index }}">
                                        <h4 class="panel-title">
                                            <a class="collapsed" role="button" data-toggle="collapse"
                                               data-parent="#accordion" href="#collapse{{ loop.index }}"
                                               aria-expanded="false"
                                               aria-controls="collapse{{ loop.index }}">
                                                <div class="title-collaps">
                                                    <span class="collapse-number"> {{ loop.index }}.</span>
                                                    <p>{{ faq.question }}</p>
                                                </div>
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapse{{ loop.index }}" class="panel-collapse collapse" role="tabpanel"
                                         aria-labelledby="heading{{ loop.index }}">
                                        <div class="panel-body partners-text">{{ faq.answer }}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}


                        </div>
                    </div>
                    <div id="teacher-news-form">
                        <div class="questions-form">

                            <div class="partners-text">{% content "SabahGuruplari/faq" %}</div>
                        </div>
                        <div class="form-area">
                         {% partial "faqForm" %}

                        </div>

                    </div>
                </div>

                <div class=" col-sm-12 col-md-4 col-lg-4">
                    <div id="sidebar" class="sidebar pinBox">
                        <div class="sidebar-title">
                            <h1 class="title-bold">SABAH Qrupları</h1>
                            <div class="border"></div>
                        </div>
                        <div class="sidebar-list-item b-0">
                            <ul>

                                {% if sabahQurup.menuItems %}
                                    {% partial "sabahQurup" items=sabahQurup.menuItems %}

                                {% endif %}
                            </ul>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% put scripts %}

    <script>
        $('.contact-form').on('ajaxSuccess', function (event, message) {
            $('.info').removeClass('contact__info');

        })
        $(window).on('ajaxInvalidField', function (event, fieldElement, fieldName, errorMsg, isFirst) {
            $(fieldElement).closest('.formInput').addClass('error');
        });

        $(document).on('ajaxPromise', '[data-request]', function () {
            $(this).closest('form').find('.error').removeClass('error');
        });

    </script>

{% endput %}
