title = "Qalereya"
url = "/qalereya/:page?"
layout = "default"
is_hidden = 0

[builderList]
modelClass = "Sabah\Group\Models\Gallery"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "name"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
recordsPerPage = 1
pageNumber = "{{ :page }}"

[staticMenu sabahQurup]
code = "sabah-qruplari"
==
<div id="header-panel">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel-title">
                    <h1>FOTO QALEREYA</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="head-title">

                    <div class="content-main">{% content "qalereya" %}</div>

                </div>
            </div>
        </div>
    </div>
</section>
<section id="gallery">
    <div id="pinBoxContainer" class="container">
        <div class="row">
            <div class="col-md-8 col-sm-12 col-lg-8">
                <div class="gall-grid">
                    <div id="aniimated-thumbnials">
                        {% for image in records %}
                            <a href="{{ image.image.path }}">
                                <div class="overlay">
                                    <i class="fa fa-clone" aria-hidden="true"></i>
                                </div>
                                <img class="img-responsive" src="{{ image.image.thumb(380,200,{'mode':'crop'}) }}"/>

                            </a>
                        {% else %}
                            Şekil Tapılmadı
                        {% endfor %}

                    </div>
                </div>

                {% partial "pagination" %}

            </div>

            <div class=" col-sm-12 col-md-4 col-lg-4 col-xs-12">
                <div id="sidebar" class="sidebar pinBox">
                    <div class="sidebar-title">
                        <h1 class="title-bold">SABAH Qrupları</h1>
                        <div class="border"></div>
                    </div>
                    <div class="sidebar-list-item b-0">
                        <ul>
                            {% if sabahQurup.menuItems %}
                                {% partial "sabahQurup" items=sabahQurup.menuItems %}

                            {% endif %}
                        </ul>
                    </div>


                </div>
            </div>

        </div>
    </div>
</section>


{% put scripts %}
    <script type="text/javascript">

        $(document).on('click', '.pagination-number a', function (e) {
            e.preventDefault();
            var array = $(this).attr('href').split('/');
            var page = array[array.length - 1];
            console.log(page);
        });


    </script>
{% endput %}
