title = "Təcrübə programlari"
url = "/telebe/tecrube-programlari/:page?"
layout = "default"
is_hidden = 0

[PracticeProgramsList]
modelClass = "Sabah\Student\Models\PracticeProgram"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "company_name"
noRecordsMessage = "No records found"
detailsPage = "tecrube-proqramlari-detal"
detailsKeyColumn = "slug"
detailsUrlParameter = "slug"
recordsPerPage = 10
pageNumber = "{{ :page }}"
sortColumn = "created_at"
sortDirection = "desc"

[staticMenu sabahTelebeleri]
code = "sabah-telebeleri"
==
<div id="teacher-news-faq" class="main-content">
    <!-- BANNER-->
    <div id="banner-area">
        <div class="container-fluid">
            <div class="row">
                <div style="background-image:linear-gradient(0deg,rgba(0, 155, 77, 0.7),rgba(0, 155, 77, 0.7)),
                                 url('{{ 'assets/img/content-img/teacher-news-background.png'|theme }}')" class="background-green">
                    <div class="banner-title text-center">
                        <div class="s-star"></div>
                        <h1>TƏCRÜBƏ PROQRAMLARI</h1>
                        <p class="breadcumb">SABAH TƏLƏBƏLƏRİ</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- BANNER-->

    <div id="teacher-news-faq-collapse">
        <div id="pinBoxContainer" class="container">
            <div class="row">
                <div class=" col-sm-12 col-md-8 col-lg-8">
                    <div class="university-table">
                        <div class="head-title">
                            <div class="sidebar-title-green">
                                <h1 class="title-bold">SABAH-ın Təcrübə Proqramları</h1>
                            </div>

                            <div class="content-main">{% content "tecrubeProqramlari" %}</div>
                        </div>

                        <div class="table-for-university">
                            <div class="experiment-table">
                                <div class="sidebar-title-green">
                                    <h1 class="title-bold">Aktiv Proqramlar</h1>
                                </div>
                                <div class="table-responsive margin-b">
                                    <table>
                                        <thead>
                                        <tr>
                                            <th>VƏZİFƏ</th>
                                            <th>ŞİRKƏT</th>
                                            <th>NÖV</th>
                                            <th>SON TARİX</th>

                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for record in records %}

                                            <tr>
                                                <td>
                                                    {% spaceless %}
                                                    {% if detailsPage %}
                                                    <a href="{{ detailsPage|page({ (detailsUrlParameter): record.slug }) }}">
                                                        {% endif %}
                                                        {{ record.position }}
                                                        {% if detailsPage %}
                                                            </a>
                                                        {% endif %}
                                                    {% endspaceless %}
                                                </td>
                                                <td>
                                                    {{ record.company_name }}
                                                </td>
                                                {% if record.payment_method==0 %}
                                                <td class="free-work ">
                                                    {% else %}
                                                <td class="rich-work ">
                                                    {% endif %}
                                                    {% if record.payment_method==0 %}
                                                        Ödenişsiz
                                                    {% else %}
                                                        Ödenişli
                                                    {% endif %}
                                                </td>
                                                <td>{{ record.expiry_date|date('d.m.Y') }}</td>

                                            </tr>
                                        {% endfor %}


                                        </tbody>
                                    </table>
                                </div>

                            </div>


                        </div>
                    </div>

                </div>

                <div class=" col-sm-12 col-md-4 col-lg-4">
                    <div id="sidebar" class="sidebar pinBox">
                        <div class="sidebar-title-green">
                            <h1 class="title-bold">SABAH Tələbələri</h1>
                            <div class="border"></div>
                        </div>
                        <div class="sidebar-list-item-green b-0">
                            <ul>

                                {% if sabahTelebeleri.menuItems %}
                                    {% partial "sabahTelebeleriNav" items=sabahTelebeleri.menuItems %}
                                {% endif %}

                            </ul>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
