{% for record in partialsRecords %}
    <div class="row">
        <div class="news-block-inner">
            <div class="col-md-3 col-sm-3">
                {% spaceless %}
                    {% if detailsPage %}
                        <a href="{{ detailsPage|page({ (detailsUrlParameter): record.slug }) }}">
                    {% endif %}
                    <div style="background-image:url({{ record.image.thumb(180,100,{'mode':'crop'}) }})"
                         class="news-img">
                    </div>
                    {% if detailsPage %}
                        </a>
                    {% endif %}
                {% endspaceless %}
            </div>

            <div class="news-title col-sm-9 col-md-9">
                <p class="description-news">
                    {% spaceless %}
                        {% if detailsPage %}
                            <a href="{{ detailsPage|page({ (detailsUrlParameter): record.slug }) }}">
                        {% endif %}
                        {{ record.title }}
                        {% if detailsPage %}
                            </a>
                        {% endif %}
                    {% endspaceless %}


                </p>

                <span class="news-datetime ">
                                             {{ record.created_at.format('d F Y') }}
                                        </span>
            </div>

        </div>
    </div>
{% endfor %}
