.contact__info {
    display: none;
}

.active .ajaxPagination {
    color: #cccccc;
}

.works-area .works-logo {
    background-size: auto !important;
}

.arama {
    font-size: 18px;
    border: none;
    outline: 0;
    background: white;
    color: #999999;
    background: transparent;

}

header .main-menu .search input {
    width: 0;
    display: inline-block;
    text-align: left;
}

.cav-grid {
    margin-bottom: 50px;
    margin-top: 50px;
}

#partners #partners-sld .partner-img {
    background-repeat: no-repeat;
    background-position: center;
}

.news-arena .news-block-inner {
    width: 100%;
}

#testimonial-sec .owl-nav {
    display: none;
}

#home-slider #owl-demo .owl-nav {
    display: none;
}

#partners #partners-sld .owl-nav {
    display: none;
}

.img-title.news-title {
    min-height: 50px;
}
