<form data-request="onContact"
      data-request-validate
      data-request-flash>
    <div class="row">
        <div class="form-group">
            <div class="col-md-6">
                <label class="content-text" for="exampleInputEmail1">Soyadınız və
                    adınız:</label>
                <input name="name" type="text" class="formInput form-control" id="examplename"
                       placeholder="Tam adınız">
                <p class="error-p" data-validate-for="name"></p>
            </div>
            <div class="col-md-6">
                <label class="content-text" for="exampleInputEmail1">Email
                    ünvanınız:</label>
                <input name="email" type="email" class="formInput form-control"
                       id="exampleInputEmail1"
                       placeholder="Email">
                <p class="error-p" data-validate-for="email"></p>
            </div>
            <div class="col-md-6">
                <label class="content-text" for="exampleFormControlSelect1">İsmarıcınızın
                    növü:</label>
                <select class="formInput form-control" name="category_id" id="exampleFormControlSelect1">
                    {% for faqCategory in faqCategories %}
                        <option value="{{ faqCategory.id }}">{{ faqCategory.name }}</option>
                    {% endfor %}

                </select>
                <p class="error-p" data-validate-for="name"></p>
                <!-- <i class="fa fa-chevron-down" aria-hidden="true"></i> -->
            </div>
            <div class="col-md-6">
                <label class="content-text" for="exampleInputEmail1">Mövzu:</label>
                <input name="subject" type="text" class="formInput form-control" id="exampleInputtext"
                       placeholder="Mövzu">
                <p class="error-p" data-validate-for="subject"></p>
            </div>
            <div class="col-md-12">
                <label class="content-text" for="exampleInputEmail1">İsmarıcınız:</label>
                <textarea name="message" class="formInput form-control" rows="5" cols="50"
                          placeholder="İsmarıcınız"></textarea>
                <p class="error-p" data-validate-for="message"></p>
            </div>


        </div>

    </div>
    <div class="send">
        <button type="submit" class="button-txt">GÖNDƏR
            <i class="fa fa-paper-plane" aria-hidden="true"></i>
        </button>
    </div>
    <div class="info contact__info">
        <i class="fa fa-check-circle-o" aria-hidden="true"></i>
        <div class="text">
            <h5>Müraciətiniz göndərildi.</h5>
            <p>Yenidən müraciət etmək istəyirsinizsə, yuxarıdakı formanı təkrar
                doldurmağınız xahiş
                olunur.
            </p>
        </div>
    </div>
</form>
