==
<footer>
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="logo">
                        <img src="{{ 'assets/img/content-img/logo-w.png" class="img-responsive'|theme }}'|theme }}" alt="">
                    </div>
                    <ul class="info">
                        <li class="margin-bott">

                            <a href="">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                Lorem Ipsum küç., 94. 1/63C.
                                <br> Bakı, Azərbaycan. AZ 1000.</a>
                        </li>
                        <li>
                            <a href="">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                Qaynar xett: 146
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                +994 12 888 8888
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <i class="fa fa-fax" aria-hidden="true"></i>
                                +994 12 888 8888
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                sabah@edu.gov.az
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-2 hidden-sm hidden-xs">
                    <div class="title">
                        sabah qruplari
                    </div>
                    <ul class="sabah-ul">
                        <li>
                            <a href="">
                                Layİhənİn məqsədİ
                            </a>
                        </li>
                        <li>
                            <a href="">Tərəfdaşlar</a>
                        </li>
                        <li>
                            <a href="">Fotoqalereya</a>
                        </li>
                        <li>
                            <a href="">
                                Mütəmadİ verİlən suallar
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-2 hidden-sm hidden-xs">
                    <div class="title">
                        TƏLƏBƏLƏR ÜÇÜN
                    </div>
                    <ul class="sabah-ul">
                        <li>
                            <a href="">təcrübə proqramları</a>
                        </li>
                        <li>
                            <a href="">Xarİcdə təhsİl və mübadİlə proqramları</a>
                        </li>
                        <li>
                            <a href=""> İxtİsaslar</a>
                        </li>
                        <li>
                            <a href="">Unİversİtetlər</a>
                        </li>
                        <li>
                            <a href="">Seçİm şərtlərİ və qaydalar</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3 hidden-sm hidden-xs">
                    <div class="title">
                        MÜƏLLİMLƏR ÜÇÜN
                    </div>
                    <ul class="sabah-ul">
                        <li>
                            <a href="">Fənlər</a>
                        </li>
                        <li>
                            <a href="">Seçİm şərtlərİ və qaydalar</a>
                        </li>

                    </ul>
                    <div class="title margin-0">
                        XƏBƏRLƏR
                    </div>
                    <div class="title margin-0">
                        ELANLAR
                    </div>
                    <div class="title margin-0">
                        ƏLAQƏ
                    </div>
                    <ul class="sabah-ul">
                        <li>
                            <a href="">Unİversİtet nümayəndəlİklərİ</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-2 col-sm-6">
                    <div class="tehsil-logo">
                        <img src="{{ 'assets/img/content-img/Loqo_az_monoxrom.png'|theme }}" class="img-responsive" alt="">
                    </div>
                    <div class="office">
                        <a href=""><img src="{{ 'assets/img/content-img/office.png'|theme }}" class="img-responsive" alt=""></a>
                        <div class="enter">
                            <a href="">giris</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="bottom">
                    <div class="col-md-5 col-sm-6 ">
                        <div class="bott-footer">
                            <ul>
                                <li>
                                    <a href="">İstifadəçi şərtləri</a>
                                </li>
                                <li>
                                    <a href="">Məxfilik siyasəti</a>
                                </li>
                                <li>
                                    <a href=""> Lorem ipsum</a>
                                </li>
                                <li>
                                    <a href="">Saytın xəritəsi</a>
                                </li>
                            </ul>
                            <span>“SABAH” Qrupları © 2016. Bütün hüquqlar qorunur</span>
                        </div>
                    </div>
                    <div class="col-md-3 col-md-offset-4 col-sm-6">
                        <div class="nova">
                            <a href="">
                                <img src="{{ 'assets/img/content-img/White - Brand only.png'|theme }}" alt="">
                            </a>
                            <span class="hidden-xs">şirkəti tərəfindən hazırlanıb</span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </footer>