[viewBag]
==
<footer>
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="logo">
                        <img src="{{ this.theme.footer_logo_left.path }}" alt="">
                    </div>
                    <ul class="info">
                        <li class="margin-bott">

                            <a href="">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                               {{ this.theme.address }}</a>
                        </li>
                        <li>
                            <a href="">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                Qaynar xett: {{ this.theme.hotline }}
                            </a>
                        </li>
                        <li>
                            <a href="tel: {{ this.theme.telephone }}">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                              {{ this.theme.telephone }}
                            </a>
                        </li>
                        <li>
                            <a href="tel: {{ this.theme.fax }}">
                                <i class="fa fa-fax" aria-hidden="true"></i>
                               {{ this.theme.fax }}
                            </a>
                        </li>
                        <li>
                            <a href="mailto:  {{ this.theme.email }}">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                               {{ this.theme.email }}
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-2 hidden-sm hidden-xs">
                    <div class="title">
                        sabah qruplari
                    </div>
                    <ul class="sabah-ul">
                        {% if sabahQuruplariFooter.menuItems %}
                                                              {% partial "footerNav" items=sabahQuruplariFooter.menuItems %}
                                                          {% endif %}

                    </ul>
                </div>
                <div class="col-md-2 hidden-sm hidden-xs">
                    <div class="title">
                        TƏLƏBƏLƏR ÜÇÜN
                    </div>
                    <ul class="sabah-ul">
                         {% if telebelerUcunFooter.menuItems %}
                                                                                      {% partial "footerNav" items=telebelerUcunFooter.menuItems %}
                                                                                  {% endif %}
                    </ul>
                </div>
                <div class="col-md-3 hidden-sm hidden-xs">
                    <div class="title">
                        MÜƏLLİMLƏR ÜÇÜN
                    </div>
                    <ul class="sabah-ul">
                             {% if muellimlerUcunFooter.menuItems %}
                                                                                      {% partial "footerNav" items=muellimlerUcunFooter.menuItems %}
                                                                                  {% endif %}
                    </ul>
                    <a href="{{'xeberler'|page}}">
	                    <div class="title margin-0">
	                        XƏBƏRLƏR
	                    </div>
                    </a>
                    <a href="{{'elanlar'|page}}">
                    <div class="title margin-0">
                        ELANLAR
                    </div>
                    </a>
                    <a href="{{'elaqe'|page}}">
                    <div class="title margin-0">
                        ƏLAQƏ
                    </div>
                    </a>
                    <ul class="sabah-ul">
                          {% if elaqeFooter.menuItems %}
                                                                                      {% partial "footerNav" items=elaqeFooter.menuItems %}
                                                                                  {% endif %}
                    </ul>
                </div>
                <div class="col-md-2 col-sm-6">
                    <div class="tehsil-logo">
                        <img src="{{ this.theme.footer_logo_right.path }}" class="img-responsive" alt="">
                    </div>
                    <div class="office">
                        <a href=""><img src="{{ 'assets/img/content-img/office.png'|theme }}" class="img-responsive" alt=""></a>
                        <div class="enter">
                            <a href="">giris</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="bottom">
                    <div class="col-md-5 col-sm-6 ">
                        <div class="bott-footer">
                            <ul>
                                <li>
                                    <a href="">İstifadəçi şərtləri</a>
                                </li>
                                <li>
                                    <a href="">Məxfilik siyasəti</a>
                                </li>

                            </ul>
                            <span>“SABAH” Qrupları © 2016. Bütün hüquqlar qorunur</span>
                        </div>
                    </div>
                    <div class="col-md-3 col-md-offset-4 col-sm-6">
                        <div class="nova">
                            <a target="_blank" href="https://nova.az/">
                                <img src="{{ 'assets/img/content-img/White - Brand only.png'|theme }}" alt="">
                            </a>
                            <span class="hidden-xs">şirkəti tərəfindən hazırlanıb</span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </footer>
