==
<header class="header-sh">
    <div class="back" style="background-image:url('{{ 'assets/img/content-img/header-rectangle.png'|theme }}')">
    </div>
    <div class="container">
        <div class="header">
            <div class="row">

                <div class="col-md-2 col-sm-2 col-xs-6">
                    <div class="logo">
                        <a href="">
                            <img src="{{ 'assets/img/file-img/S-Loqo.svg'|theme }}" alt="" class="img-responsive">
                        </a>
                    </div>
                </div>
                <div class="col-xs-6  visible-xs">
                    <div class="mobile-menu-i ">
                        <div class="icon text-right">
                            <i class="fa fa-bars" aria-hidden="true"></i>
                        </div>
                    </div>

                </div>
                <div class="col-md-10 hidden-xs col-sm-10">
                    <div class="main-menu">
                        <ul class="main-ul">
                            <li>
                                <a href="" class="menu-text">Sabah Qrupları</a>
                            </li>
                            <li class="sub-item">
                                <a href="" class="menu-text no-link">Sabah Tələbələri</a>
                                <ul class="sub-menu content-text">
                                    <li>
                                        <a href="">Xəbərlər</a>
                                    </li>
                                    <li>
                                        <a href="">Elanlar</a>
                                    </li>
                                    <li>
                                        <a href="">Təcrubə Proqramları</a>
                                    </li>
                                    <li>
                                        <a href="">Xaricde Təhsil ve Mübadilə Proqramları</a>
                                    </li>
                                    <li>
                                        <a href="">ixtisas</a>
                                    </li>
                                    <li>
                                        <a href="">Universitetlər</a>
                                    </li>
                                    <li>
                                        <a href="">Əlaqə</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="sub-item">
                                <a href="" class="menu-text no-link">Qəbul</a>
                                <ul class="sub-menu content-text">
                                    <li>
                                        <a href="">Tələbə qəbulu</a>
                                    </li>
                                    <li>
                                        <a href="">Müəllim qəbulu</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="" class="menu-text">Xəbərlər</a>
                            </li>
                            <li>
                                <a href="" class="menu-text">Elanlar</a>
                            </li>
                            <li>
                                <a href="" class="menu-text">Əlaqə</a>
                            </li>
                        </ul>
                        <div class="search">
                            <form action="home.html" method="get">
                                <input type="search" placeholder="Axtardiginizi buraya yazin" name="s" class="searc-inp" autocomplete="off">
                                <button class="fa fa-search"></button>
                            </form>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

</header>