==
<section id="mobile-menu">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="main-menu">
                    <ul class="main-ul">
                        <li>
                            <a href="" class="menu-text">Sabah Qrupları</a>
                        </li>
                        <li class="sub-item">
                            <a href="" class="menu-text ">Sabah Tələbələri</a>
                            <i class="fa fa-angle-down" aria-hidden="true"></i>
                            <ul class="sub-menu content-text">
                                <li>
                                    <a href="">Xəbərlər</a>
                                </li>
                                <li>
                                    <a href="">Elanlar</a>
                                </li>
                                <li>
                                    <a href="">Təcrübə Proqramları</a>
                                </li>
                                <li>
                                    <a href="">Xaricdə Təhsil ve Mübadilə Proqramları</a>
                                </li>
                                <li>
                                    <a href="">ixtisas</a>
                                </li>
                                <li>
                                    <a href="">Universitetlər</a>
                                </li>
                                <li>
                                    <a href="">Əlaqə</a>
                                </li>
                            </ul>
                        </li>
                        <li class="sub-item">
                            <a href="" class="menu-text">Qəbul</a>
                            <i class="fa fa-angle-down" aria-hidden="true"></i>
                            <ul class="sub-menu content-text">
                                <li>
                                    <a href="">Tələbə qəbulu</a>
                                </li>
                                <li>
                                    <a href="">Müəllim qəbulu</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="" class="menu-text">Xəbərlər</a>
                        </li>
                        <li>
                            <a href="" class="menu-text">Elanlar</a>
                        </li>
                        <li>
                            <a href="" class="menu-text">Əlaqə</a>
                        </li>
                        <li>
                            <a href="" class="menu-text">Axtarış</a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </div>

</section>