{% for news in partialsRecords %}
    <div class="row">
        <div class="news-block-inner">
            <div class="col-md-3 col-sm-3">
                <a href="#">
                    <div style="background-image:url({{ news.image.path }})"
                         class="news-img">
                    </div>
                </a>
            </div>

            <div class="news-title col-sm-9 col-md-9">
                <p class="description-news">
                    <a href="#">
                        {{ news.title }}
                    </a>

                </p>
                <h6 class="news-category">
                    UNİVERSİTETLƏR
                </h6>
                <span class="news-datetime ">
                                            30 Aprel 2017
                                        </span>
            </div>

        </div>
    </div>

{% endfor %}

