<ul class="social-icon">
    <li>Paylaş:</li>

    <li class="facebook">
        <a target="_blank" href="https://www.facebook.com/sharer.php?u={{url}}">
            <i class="fa fa-facebook-official" aria-hidden="true"></i>
        </a>
    </li>
    <li class="twitter">
        <a href="https://twitter.com/share?url={{url}}&text={{ this.page.title }}">
            <i class="fa fa-twitter" aria-hidden="true"></i>
        </a>
    </li>
    <li class="google-plus">
        <a href="https://plus.google.com/share?url={{url}}">
            <i class="fa fa-google-plus-official" aria-hidden="true"></i>
        </a>
    </li>
</ul>
