[viewBag]
==
<section id="subscribe">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-5 ">
                <div class="social-icons ">
                    <ul>
                        <li>
                            <a target="_blank" href="{{ this.theme.facebook }}">
                                <i class="fa fa-facebook-official" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="{{ this.theme.youtube }}">
                                <i class="fa fa-youtube-play" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="{{ this.theme.twitter }}">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="{{ this.theme.instagram }}">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="{{ this.theme.googleplus }}">
                                <i class="fa fa-google-plus" aria-hidden="true"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-1  col-md-offset-2 padd-0 col-sm-1 col-xs-2">
                <div class="sub-icon text-right">
                    <i class="fa fa-envelope-open-o" aria-hidden="true"></i>
                </div>
            </div>
            <div class="col-md-5 col-sm-6 col-xs-10">
                <div class="subsribe-in">
                    <div class="sub-title">
                        Xəbər lentinə abunə olun:
                    </div>

                    <form name="form-subscribe-andradedev" id="form-subscribe-andradedev"
                          data-request="{{ formSubscribe }}::onAddSubscriber"
                          data-request-update="'{{ formSubscribe }}::alert': '#result'">

                        <input name="email" type="text" placeholder="Emailinizi daxil edin">
                        <input type="hidden" name="latitude" id="latitude">
                        <input type="hidden" name="longitude" id="longitude">
                        <button type="submit" name="button" id="button">
                            <i class="fa fa-check" aria-hidden="true"></i>
                            ABUNƏ OL
                        </button>
                    </form>
                </div>
            </div>
            <section id="modals" class="popup">
                <div class="success">
                    <div class="name">
                        <h4>
                            UĞURLU ƏMƏLİYYAT
                        </h4>
                    </div>
                    <div class="title text-center">
                        <h4>
                            Əməliyyat uğurludur!
                        </h4>
                    </div>
                    <div class="desc ">
                        <p>Etiam ut diam sapien. Sed massa velit, ullamcorper in nisi et, congue tempor odio:</p>
                    </div>
                    <div class="text-center but">
                        <button>YAXŞI</button>
                    </div>
                </div>
                <div class="success">
                    <div class="name s-red">
                        <h4>
                            XƏTA MESAJI
                        </h4>
                    </div>
                    <div class="title text-center t-red">
                        <h4>
                            XƏTA 595
                        </h4>
                    </div>
                    <div class="desc ">
                        <p>Etiam ut diam sapien. Sed massa velit, ullamcorper in nisi et, congue tempor odio:</p>
                    </div>
                    <div class="text-center but">
                        <button>YAXŞI</button>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>
